:root {
    /* Colors */
    --white-color: #ffffff;
    --beige-color: #F9F8E3;
    --green-light-color: #A9CC66;
    --green-regular-color: #348A35;
    --green-dark-color: #1A402A;
    --green-extra-dark-color: #002626;
    --dark-color: #000000;
    /* Fonts */
    /* --font-heading: 'Montserrat', 'sans-serif';
    --font-text: 'Hind', 'sans-serif'; */
}